{% extends "base.html" %}

{% block title %}Dashboard | DSP Attrition{% endblock %}

{% block content %}
<section class="dashboard">
  <div class="dashboard-header">
    <h1>📊 Laporan Analitik DSP Attrition</h1>
    <p>
      Berikut adalah laporan visualisasi data attrition karyawan dalam bentuk
      Looker Studio interaktif. Gunakan filter dan grafik untuk eksplorasi data secara mendalam.
    </p>
  </div>

  <div class="dashboard-container">
    <div class="iframe-wrapper">
      <iframe
        src="https://lookerstudio.google.com/embed/reporting/e045941c-1ff0-4b8c-9358-d5c00ff2f357/page/JdGZF"
        frameborder="0"
        allowfullscreen
        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
      </iframe>
    </div>
  </div>
</section>
{% endblock %}
